<%= form_for @room  do |f| %>
  <p>
    <%= f.label :room_number %>
    <%= f.text_field :room_number %>
  </p>
  <p>
    <%= f.label :room_price %>
    <%= f.number_field :room_price %>
  </p>

  <p>
    <%= f.label :room_des %>
    <%= f.text_area :room_des %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
