<style media="screen">
  .button {
    float: right;
    margin-right: 2px;
  }

  .well2 {
    min-height: 550px;
  }
</style>


  <div class="container">
    <h1 class="text-center">Room Reservation</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2 class="text-center">Room Information</h2>
            <p>
              <strong>Number</strong>
              <%= @rooms.room_number %>
            </p>

            <p>
              <strong>Price</strong>
              <%= @rooms.room_price %> ฿

            </p>
            <p>
              <strong>Description</strong>
              <%= @rooms.room_des %>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2 class="text-center">Customer's reservation</h2>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Telephone Number</th>
                  <th>วันที่จะเข้าพัก</th>
                  <th>วันที่จะออก</th>
                  <th>จำนวนเงินที่ต้องจ่าย</th>
                </tr>
              </thead>
              <% @rooms.customer.each do |reservation| %>
              <tbody>
                <tr>
                  <td><%= reservation.first_name%></td>
                  <td><%= reservation.last_name %> </td>
                  <td><%= reservation.tel_no%></td>
                  <td><%= reservation.booking_date%></td>
                  <td><%= reservation.checkout_date %></td>
                  <% total = (@rooms.room_price).to_i * (1) %>
                  <% checkout_date = reservation.checkout_date %>
                  <% checkin_date = reservation.booking_date %>
                </tr>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="well well2">
        <h2>Customer information</h2>
        <%= form_for([@rooms, @rooms.customer.build]) do |f| %>
        <% if @rooms.errors.any? %>
        <div id="errors_explimination">
          <ul>
            <% @rooms.errors.full_messages.each do |msg| %>
            <li class="alert alert-danger"><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <p class="form-group">
          <%= f.label :first_name  %>
          <%= f.text_field :first_name , class: 'form-control' %>
        </p>

        <p>
          <%= f.label :last_name %>
          <%= f.text_field :last_name , class: 'form-control' %>
        </p>

        <p>
          <%= f.label :tel_no %>
          <%= f.number_field :tel_no , class: 'form-control' %>
        </p>
        <p>
          <%= f.label :วันที่จะเข้าพัก %>
          <%= f.date_field :booking_date , class: 'form-control' %>
        </p>
        <p>
          <%= f.label :วันที่จะออก  %>
          <%= f.date_field :checkout_date , class: 'form-control' %>
        </p>
        <p>
          <%= link_to "Back", rooms_path , class: 'btn btn-default button' %>
          <%= f.submit "RESERSE ROOM" , class: 'btn btn-success button' %>
        </p>

        <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
